@use "../../styles/variables" as *;

.ph {
    background-color: transparent;
    border: none;
    .ant-card-head {
        border: none;
    }
    .ant-card-body {
        background-color: transparent;
        padding: 15px !important;
        padding-inline: 24px;
    }
    .ph__left {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .ph__meta {
        .ph__name {
            font-size: 18px;
            font-weight: 700;
            color: white;
        }

        .ph__tags {
            margin: 6px 0;
            display: flex;
            gap: 6px;
            flex-wrap: wrap;
        }

        .ph__valid {
            color: #fff;
            font-size: 13px;
        }
    }

    .ph__item .ph__label {
        color: #fff;
        font-size: 12px;
        margin-bottom: 2px;
    }

    .ph__item .ph__value {
        font-weight: 500;
        color: rgb(207, 207, 207);
    }

    .ph__contact {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 600;
    }
}
