.stats-cards-container {
    display: flex;
    gap: 15px;
}
.graph-container {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    .revenue-col {
        width: 50%;
    }
    .membership-col {
        width: 50%;
    }
}


.admin-dashboard{
       background: #0d1117;
        min-height: 100vh;
        padding: 24;
        color: #fff;
    .ant-card-head{
        border-bottom: 1px solid #30363d;
    }
    .line-graph{
        .ant-card-body{
            padding-left: 0%;
        }
    }
    // .ant-table-cell{
    //     background-color: transparent !important;
    // }
}