.edit-plan-modal{
    .ant-modal-content {
        background-color: rgb(22, 27, 34);
    }
    .ant-modal-header{
        background-color: transparent;
    }
    .ant-select-selection-item-remove{
        color: gray;
    }
    .ant-select-selection-overflow-item{
        background-color: #1F1F1F;
    }
    input::placeholder {
  color: #8b949e !important;
}
.ant-picker-input >input[disabled]{
    color: gray;
}
}