body{padding: 0%;
margin: 0%;
box-sizing: border-box;
background-color: black;
}
.ant-select.ant-select-in-form-item{
    border-radius: 5px !important;
}
.ant-select-selector{
    background-color: rgb(31, 31, 31) !important;
    border: 2px solid rgb(31, 31, 31) !important;
    color: white !important;

  
    .ant-select-selection-placeholder{
        color: white;
    }
}

/* .custom-input{
    background-color: #1F1F1F !important; 
    color: white !important;
    input{
        background-color: #1F1F1F !important; 
        border-radius: 0 !important;
        border: none;

    }
} */


